# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Build folders
build/
dist/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# React specific
frontend/node_modules/
frontend/build/

# Backend specific
backend/node_modules/